<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/static/style.css" >
    <link rel="icon" href="https://i.ibb.co/XZL7j4C2/witch-hat.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:5001/spaces">WizardBnB</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">

              <a class="nav-link" href="/spaces">Spaces</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5001/listspace">List a space</a>
            </li>
            <li class="nav-item">

              <a class="nav-link" href="/users/{{current_user.id}}/requests">Requests</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout')}}">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }
    

    .bg-image {
      background-image: url('https://i.ibb.co/ymbfmggW/general-background.png'); /* Replace with your image URL */
      background-size: cover;
      background-position: center;
        background-attachment: fixed;
        height: 100%;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;
      }
    .bg-overlay {
        background-color: #041111b3;
        padding: 2rem;
    }

    :link { 
      color: grey;
    }
</style>


  
    </style>
    </head>
    
    <body id="request-page">
      <div class="bg-image">
        <div class="bg-overlay mx-auto col-md-8 col-lg-6">
          <h1 class="display-4">Check your requests here!</h1>
          <hr>
          <div class="mail-container">
            <ul>
              {% for request in user_requests %}
                {% if request.space_owner == user.id %}
                  {% if request.accepted == False %}
                      <li>
                        <a href="/users/{{user.id}}/requests/{{request.id}}">Rental request denied.</a>
                      </li>
                    {% elif request.accepted == True %}
                      <li>
                        <a href="/users/{{user.id}}/requests/{{request.id}}">View the upcoming rental at your {{((spaces_repository.get_space(request.space_requested)).name)}}!</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="/users/{{user.id}}/requests/{{request.id}}">{{(user_repository.get_user(request.request_sender)).username}} Would like to rent your {{((spaces_repository.get_space(request.space_requested)).name)}}!
                        </a>
                      </li>
                    {% endif %}
                {% else %}
                    {% if request.accepted == False %}
                    <li>
                      <a href="/users/{{user.id}}/requests/{{request.id}}">Rental request denied.</a>
                    </li>
                    {% elif request.accepted == True %}
                    <li>
                      <a href="/users/{{user.id}}/requests/{{request.id}}">View your upcoming holiday at {{((spaces_repository.get_space(request.space_requested)).name)}}!
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <a href="/users/{{user.id}}/requests/{{request.id}}">
                      You have requested to rent {{(user_repository.get_user(request.space_owner)).username}}'s {{((spaces_repository.get_space(request.space_requested)).name)}}!
                      </a>
                    </li>
                    {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>